
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SMACA LTD</a>
       <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

<span class="mobile-links" style="display:none">

 {% if user.role == 'TECHNICIAN' %}
            <a  type="submit" class="mobile-up" href="{% url 'reports' %}">My Reports
            </a>
             <a>
            <a type="submit" class="mobile-up" href="{% url 'expenses' %}">
                 My Expenses
            </a>
          <a>
{% endif %}
 {% if user.role == 'ACCOUNTANT' or  user.role == 'BOSS' %}
            <a  type="submit" class="mobile-up" href="{% url 'reports' %}">Reports
            </a>

            <a type="submit" class="mobile-up" href="{% url 'expenses' %}">
                 Expenses
            </a>
 <a  type="submit" class="mobile-up" href="{% url 'report-summary' %}">Report Summary
            </a>

            <a type="submit" class="mobile-up" href="{% url 'summary' %}">
                 Expense Summary
            </a>
{% endif %}



</span>


            <a> <span class="pr-3">{{ request.user.email }}</span>
            <small class="pr-3  text-sm text-monospace">({{ request.user.role }})</small></a>
             <a>
           <form action="{% url 'logout' %}" method="POST" style="display:inline">
            {% csrf_token %}
           <i class="fas icon fa-sign-out-alt"></i>
            <input type="submit" class="logout-link" value='Logout' href="{% url 'login' %}">
            </form>
            </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
 <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Home</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-home"></i>
              </a>
            </h6>
             {% if user.role == 'TECHNICIAN' %}
                <li class="nav-item">

               <a href="{% url 'reports' %}" class="nav-link"><i class="fa fa-file"></i>   My Reports</a>

              </li>
               <li class="nav-item">

                 <a href="{% url 'expenses' %}" class="nav-link">    <i class="fa fa-money-bill"></i>  My Expenses</a>

              </li>
               {% endif %}
                 {% if user.role == 'BOSS' %}
                <li class="nav-item">

               <a href="{% url 'reports' %}" class="nav-link"><i class="fa fa-file"></i>  Reports</a>

              </li>
               <li class="nav-item">


                 <a href="{% url 'expenses' %}" class="nav-link">  <i class="fa fa-money-bill"></i> Expenses</a>
             </li>
               {% endif %}
                 {% if user.role == 'ACCOUNTANT' %}
                    <li class="nav-item">

                 <a href="{% url 'expenses' %}" class="nav-link">  <i class="fa fa-money-bill"></i> Expenses</a>
             </li>
                <li class="nav-item">

               <a href="{% url 'reports' %}" class="nav-link"><i class="fa fa-file"></i>  Reports</a>

              </li>

               {% endif %}



            </ul>


  {% if user.role == 'BOSS' %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Summary</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-book"></i>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'summary' %}" >
                  <i class="fa fa-chart-line"></i>
                  Expenses Summary
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'report-summary' %}">
                  <i class="fa fa-chart-line"></i>
                  Reports Summary
                </a>
              </li>

            </ul>
            {% endif %}

              {% if user.role == 'ACCOUNTANT' %}


 <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>Summary</span>
              <a class="d-flex align-items-center text-muted" href="{% url 'summary'%}">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>


            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'summary' %}" >
                  <span data-feather="file-text"></span>
                  Expenses Summary
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'report-summary' %}">
                  <span data-feather="file-text"></span>
                  Reports Summary
                </a>
              </li>

            </ul>
            {% endif %}
          </div>
        </nav>
