{% load static%}
{% block content %}

<div class="sidebar-container" style="color: white;" id="wrapper">
    <div class="" id="sidebar-wrapper">
        <i class="fas fa-house-damage fa-2x center"></i>


        <div class="sidebar-container-items" style="display: flex; flex-direction: column;">
        {% if user.role == 'ACCOUNTANT' %}
            <a href="{% url 'expenses' %}" class=""><i class="fas icon fa-hand-holding-usd"></i>All Expenses</a>

        {% endif %}

         {% if user.role == 'TECHNICIAN' %}
            <a href="{% url 'reports' %}" class=""><i class="fas  icon fa-clipboard"></i> My Reports</a>
            <a href="{% url 'expenses' %}" class=""><i class="fas icon fa-hand-holding-usd"></i>Expenses</a>
         {% endif %}


          {% if user.role == 'BOSS' %}
            <a href="{% url 'reports' %}" class=""><i class="fas  icon fa-clipboard"></i> All Reports</a>
            <a href="{% url 'expenses' %}" class=""><i class="fas icon fa-hand-holding-usd"></i>All Expenses</a>
         {% endif %}

              <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
           <i class="fas icon fa-sign-out-alt"></i>
            <input type="submit" class="logout-link" value='Logout' href="{% url 'login' %}">
            </form>
        </div>
    </div>

    {% endblock %}
</div>

