#header {
  background-color: rgb(3, 31, 45);
}

#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: white;
}

.login .submit-row {
  padding: 0px !important;
}
.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  width: 100% !important;
  background-color: red !important;
}
